@charset "utf-8";

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	background: #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

@media only screen 
and (max-width : 480px) {
	body {
		background-image: url(../img/bgS.jpg);
	}
}

@media only screen 
and (min-width : 480px) 
and (max-width : 768px) {
	body {
		background-image: url(../img/bgM.jpg);
	}
}

@media only screen 
and (min-width : 768px) {
	body {
		background-image: url(../img/bgL.jpg);
	}
}

strong {
	line-height: 30px;
}

#content {
	width: 100%;
	text-align: center;
	opacity: 0.9;
	display: none;
}

#first-page, #tutorial-page, #options-page  {
	text-align: center;
}
#first-page button {
	width: 100%;
	margin: 5px 0;
	opacity: 0.8;
}

#first-page #menu, #first-page #play-menu {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
}

#first-page #play-menu {
	display: none;
}

#tutorial-page {
	display: none;
}

#highscores-page {
	display: none;
}

#options-page {
	display: none;
}

#highscores-description, #tutorial-description, #options-description {
	padding: 20px;
	background: #2b0e03;
	opacity: 0.8;
	color: #fff;
	text-align: left;
}

#highscores-description-button , #tutorial-description-button, #options-description-button {
	width: 100%;
}

#highscores-description-button  button, #tutorial-description-button button, #options-description-button button {
	width: 100%;
}

#highscores-text, #tutorial-text, #options-text {
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}

#options-text .form-control {
	float: right;
	width: 150px;
}

#options-description .btn-group {
	float: right;
}

#options-description .btn-group button {
	width: auto;
	margin: 0;
}

.panel {
	margin-bottom: 0;
}

.panel-default .panel-body {
	padding: 5px;
}

#new-game {
	float: left;
	margin-right: 10px;
}

#restart-game {
	float: left;
	margin-right: 10px;
	display: none;
}

#player-score {
	float: left;
	margin-right: 10px;
}

#player-time {
	float: right;
}

#back {
	float: right;
}

#show-time-button {
	float: right;
	display: none;
	margin-right: 10px;
}

#player-info {
	float: right;
}

#player-thumbnail {
	width: 47px;
	height: 47px;
}

#player-dropdown {
	float: left;
}

#player-dropdown button {
	float: left;
	white-space: nowrap;
}

.game-window {
	background: #000;
	border-radius: 4px;
	padding: 5px;
}

.game-window .panel {
	float: left;
	opacity: 0.95;
	font-weight: bold;
}

.game-window .panel .panel-body {
	padding: 5px;
}

#stacks {
	float: left;
	margin-right: 5px;
}

.panel-heading {
	padding: 10px;
}

#stacks .panel-heading {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#moves {
	width: 90px;
}

#moves .panel-heading a {
	float: right;
	color: #fff;
}

#moves .panel-body {
	overflow-x: hidden;
	overflow-y: auto;
}

#moves .panel-body .list-group-item {
	text-align: center;
	padding: 5px;
}

#moves .panel-body .list-group-item span {
	font-size: 20px;
	Width: 60px;
}

#stacks .list-group-item {
	padding: 2px;
}

#stacks .list-group-item span {
	padding: 2px 25px;
}

.game-window #final-stack {
	float: right;
}

#current-stack .panel-body, #final-stack .panel-body {
	position: relative;
	overflow-y: auto;
}

#current-stack .list-group, #final-stack .list-group {
	position: absolute;
	bottom: 3px;
	margin: 0 auto;
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);             /* W3C complaint browsers */
}

#current-stack .list-group a, #final-stack .list-group a {
	margin: 0 auto;
	overflow: auto;
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);             /* W3C complaint browsers */
	text-align: center;
}

#moves .list-group .list-group-item {
	float: left;
	width: 78px;
	height: 55px;
	margin: 2px 0;
	border-radius: 4px;
}

#current-stack .list-group a span, #final-stack .list-group a span {
	background-color: #fff;
	opacity: 0.5;
	border-radius: 10px;
	box-shadow:1px 1px 3px 2px #ddd inset;
	line-height: 20px;
	text-align: center;
}

.rot180 {
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);             /* W3C complaint browsers */
}

.flipH {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.normal-font {
	font-weight: normal;
}

#current-stack .list-group .list-group-item, #final-stack .list-group .list-group-item  {
	border-radius: 4px;
	margin-top: 3px;
}

#points {
	width: 50px;
	height: 50px;
	background: #FFBF51;
	border-radius: 25px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	display: none;
	color: #fff;
	position: absolute;
}

#game-over-back-screen {
	width: 100%;
	display: none;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

#game-over-back-screen-play-again {
	width: 100%;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
}

#game-over {
	width: 70%;
	display: none;
	position: absolute;
	left: 15%;
	background: #000;
	border-radius: 4px;
	padding: 15px;
	background-color: #fff;
	overflow: auto;
	opacity: 1;
}
#game-over button {
	width: 40%;
}

#highscores-text #reset-highcores, #options-text #reset-options {
	float: right;
}

.theme-1 .color1 {
	background: #e0f3fa;
}

.theme-1 .color2 {
	background: #feccb1;
}

.theme-1 .color3 {
	background: #c98bba;
}

.theme-1 .color4 {
	background: #fcecfc;
}

.theme-1 .color5 {
	background: #ffadad;
}

.theme-1 .color6 {
	background: #ebe9f9;
}

.theme-1 .color7 {
	background: #ffffff;
}

.theme-1 .color8 {
	background: #6db3f2;
}

.theme-1 .color9 {
	background: #fceabb;
}

.theme-1 .color10 {
	background: #e6f0a3;
}

.theme-2 .color1 {
	background: #e0f3fa;
	background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd));
	background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
}

.theme-2 .color2 {
	background: #feccb1;
	background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e));
	background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );
}

.theme-2 .color3 {
	background: #c98bba;
	background: -moz-linear-gradient(top,  #c98bba 0%, #bf57a3 50%, #a5247e 51%, #d847a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c98bba), color-stop(50%,#bf57a3), color-stop(51%,#a5247e), color-stop(100%,#d847a8));
	background: -webkit-linear-gradient(top,  #c98bba 0%,#bf57a3 50%,#a5247e 51%,#d847a8 100%);
	background: -o-linear-gradient(top,  #c98bba 0%,#bf57a3 50%,#a5247e 51%,#d847a8 100%);
	background: -ms-linear-gradient(top,  #c98bba 0%,#bf57a3 50%,#a5247e 51%,#d847a8 100%);
	background: linear-gradient(to bottom,  #c98bba 0%,#bf57a3 50%,#a5247e 51%,#d847a8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c98bba', endColorstr='#d847a8',GradientType=0 );
}

.theme-2 .color4 {
	background: #fcecfc;
	background: -moz-linear-gradient(top,  #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcecfc), color-stop(50%,#fba6e1), color-stop(51%,#fd89d7), color-stop(100%,#ff7cd8));
	background: -webkit-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
	background: -o-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
	background: -ms-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
	background: linear-gradient(to bottom,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 );
}

.theme-2 .color5 {
	background: #ffadad;
	background: -moz-linear-gradient(top,  #ffadad 0%, #e86666 51%, #ea4f4f 51%, #e84747 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffadad), color-stop(51%,#e86666), color-stop(51%,#ea4f4f), color-stop(100%,#e84747));
	background: -webkit-linear-gradient(top,  #ffadad 0%,#e86666 51%,#ea4f4f 51%,#e84747 100%);
	background: -o-linear-gradient(top,  #ffadad 0%,#e86666 51%,#ea4f4f 51%,#e84747 100%);
	background: -ms-linear-gradient(top,  #ffadad 0%,#e86666 51%,#ea4f4f 51%,#e84747 100%);
	background: linear-gradient(to bottom,  #ffadad 0%,#e86666 51%,#ea4f4f 51%,#e84747 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffadad', endColorstr='#e84747',GradientType=0 );
}

.theme-2 .color6 {
	background: #ebe9f9;
	background: -moz-linear-gradient(top,  #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebe9f9), color-stop(50%,#d8d0ef), color-stop(51%,#cec7ec), color-stop(100%,#c1bfea));
	background: -webkit-linear-gradient(top,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	background: -o-linear-gradient(top,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	background: -ms-linear-gradient(top,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	background: linear-gradient(to bottom,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=0 );
}

.theme-2 .color7 {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.theme-2 .color8 {
	background: #6db3f2;
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de));
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}

.theme-2 .color9 {
	background: #fceabb;
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
}

.theme-2 .color10 {
	background: #e6f0a3;
	background: -moz-linear-gradient(top,  #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043));
	background: -webkit-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	background: -o-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	background: -ms-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	background: linear-gradient(to bottom,  #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 );
}

.theme-2 #moves .list-group-item {
	background: rgb(247,247,247);
	background: -moz-linear-gradient(top,  rgba(247,247,247,0.5) 0%, rgba(255,255,255,0.5) 57%, rgba(239,239,239,0.5) 57%, rgba(252,252,252,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,0.5)), color-stop(57%,rgba(255,255,255,0.5)), color-stop(57%,rgba(239,239,239,0.5)), color-stop(100%,rgba(252,252,252,0.5)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,0.5) 0%,rgba(255,255,255,0.5) 57%,rgba(239,239,239,0.5) 57%,rgba(252,252,252,0.5) 100%);
	background: -o-linear-gradient(top,  rgba(247,247,247,0.5) 0%,rgba(255,255,255,0.5) 57%,rgba(239,239,239,0.5) 57%,rgba(252,252,252,0.5) 100%);
	background: -ms-linear-gradient(top,  rgba(247,247,247,0.5) 0%,rgba(255,255,255,0.5) 57%,rgba(239,239,239,0.5) 57%,rgba(252,252,252,0.5) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,0.5) 0%,rgba(255,255,255,0.5) 57%,rgba(239,239,239,0.5) 57%,rgba(252,252,252,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#fcfcfc',GradientType=0 );
	border: 0;
	color: #006C93;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);;
}

.theme-2 #current-stack .list-group a span, .theme-2 #final-stack .list-group a span {
	background-color: #fff;
	opacity: 0.7;
}

.theme-2 #current-stack .list-group a, .theme-2 #final-stack .list-group a {
	border: 0;
}

.theme-2 .panel {
	background: none;
	border-color: #fff;
	box-shadow: 2px 2px 5px #fff;
}

.theme-2 #game-container {
	background-image: url(../img/theme-2-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	color: #f5b044;
}

.theme-2 .panel-heading {
	background-image: url(../img/theme-2-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	color: #D15000;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
	border-color: #fff;
}

.theme-2 #game-header {
	background-image: url(../img/theme-2-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	color: #fff;
	border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

.theme-2 #game-header .btn {
	background: none;
	border: 0;
	color: #fff;
}




.theme-3 .color1 {
	background-image: url(../img/ind-col-1.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color2 {
	background-image: url(../img/ind-col-2.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color3 {
	background-image: url(../img/ind-col-3.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color4 {
	background-image: url(../img/ind-col-4.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color5 {
	background-image: url(../img/ind-col-5.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color6 {
	background-image: url(../img/ind-col-6.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color7 {
	background-image: url(../img/ind-col-7.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color8 {
	background-image: url(../img/ind-col-8.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color9 {
	background-image: url(../img/ind-col-9.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 .color10 {
	background-image: url(../img/ind-col-10.png);
	background-repeat: repeat-x;
	background-position: center;
}

.theme-3 #current-stack .list-group a span, .theme-3 #final-stack .list-group a span {
	background-color: #fff;
	opacity: 0.7;
}

.theme-3 #current-stack .list-group a, .theme-3 #final-stack .list-group a {
	border-color: #000;
}

.theme-3 .panel {
	background: none;
	border-color: #000;
	box-shadow: 10px 10px 5px #000;
}

.theme-3 #game-container {
	background-image: url(../img/theme-3-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	color: #f5b044;
}

.theme-3 #moves .list-group-item {
	background: none;
	border-color: #000;
	color: #fff;
	box-shadow: 2px 2px 5px #000;
}

.theme-3 .panel-heading {
	background-image: url(../img/theme-3-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	color: #fff;
	border-color: #000;
}

.theme-3 #game-header {
	background-image: url(../img/theme-3-bg.jpg);
	background-repeat: repeat-x;
	background-position: top left;
	color: #fff;
	border-bottom: 5px solid #000;
}

.theme-3 #game-header .btn {
	background: none;
	border: 0;
	color: #fff;
}
