<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.working.stacky"
        versionCode = "2.1" 
        version     = "2.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Stacky</name>

    <description>
        Stack the bars into the right order in as few moves as possible
    </description>

    <author href="https://build.phonegap.com" email="ciulea@gmail.com">
        Adrian Ciulea and Alexandru Afrasinei
    </author>
	
	<icon src="icon.png" />
	
	<gap:splash src="splash.png" />
	
	<preference name="orientation" value="portrait" />
	
	<preference name="fullscreen" value="true" />
	
	<preference name="phonegap-version" value="cli-9.0.0" />
	
	<preference name="permissions" value="none" />
	
	<preference name="SplashScreen" value="splash"/>
	
	<preference name="SplashScreenDelay" value="2000"/>
	
	<preference name="InAppBrowserStorageEnabled" value="true"/>
	
	<preference name="LoadingDialog" value="Stacky,Is loading ..."/>

</widget>
