<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.working.stacky"
        versionCode = "1" 
        version     = "1.2.0" >

    <!-- versionCode is optional and Android only -->

    <name>Stacky</name>

    <description>
        Stack the bars into the right order in as few moves as possible
    </description>

    <author href="https://build.phonegap.com" email="ciulea@gmail.com">
        Alex si Adi
    </author>
	
	<preference name="orientation" value="portrait" />
	
	<preference name="fullscreen" value="true" />
	
	<preference name="phonegap-version" value="3.6.3" />
	
	<preference name="permissions" value="none" />
	
	<gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io"/>

</widget>
