<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.working.stacky"
        versionCode = "1" 
        version     = "1.2.0" >

    <!-- versionCode is optional and Android only -->

    <name>Stacky</name>

    <description>
        Stack the bars into the right order in as few moves as possible
    </description>

    <author href="https://build.phonegap.com" email="ciulea@gmail.com">
        Adrian Ciulea and Alexandru Afrasinei
    </author>
	
	<preference name="orientation" value="portrait" />
	
	<preference name="fullscreen" value="true" />
	
	<preference name="phonegap-version" value="3.7.0" />
	
	<preference name="permissions" value="none" />
	
	<preference name="SplashScreen" value="StackySplashScreen"/>
	
	<preference name="SplashScreenDelay" value="2000"/>
	
	<preference name="InAppBrowserStorageEnabled" value="true"/>
	
	<preference name="LoadingDialog" value="Stacky,Is loading ..."/>
	
	<gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />
	
	<gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="869524289776660" />
        <param name="APP_NAME" value="Stacky" />
    </gap:plugin>

</widget>
